USE [master]
GO
/****** Object:  Database [WorkManagementStable]    Script Date: 7/25/2023 9:28:30 PM ******/
CREATE DATABASE [WorkManagementStable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkManagementStable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkManagementStable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkManagementStable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WorkManagementStable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkManagementStable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkManagementStable]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/25/2023 9:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountKey] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[CompanyKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppliedAndCared]    Script Date: 7/25/2023 9:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppliedAndCared](
	[AACJKey] [int] IDENTITY(1,1) NOT NULL,
	[AccountKey] [int] NOT NULL,
	[PostKey] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AACJKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppliedUsers]    Script Date: 7/25/2023 9:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppliedUsers](
	[AUFJKey] [int] IDENTITY(1,1) NOT NULL,
	[AccountKey] [int] NOT NULL,
	[PostKey] [int] NOT NULL,
	[CvFileKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUFJKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 7/25/2023 9:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyKey] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [text] NOT NULL,
	[ImageUrl] [text] NOT NULL,
	[LogoUrl] [text] NOT NULL,
	[Location] [varchar](500) NOT NULL,
	[WorkField] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVFiles]    Script Date: 7/25/2023 9:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVFiles](
	[CVFileKey] [int] IDENTITY(1,1) NOT NULL,
	[CVName] [nvarchar](255) NOT NULL,
	[AccountKey] [int] NOT NULL,
	[CVFileSource] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CVFileKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 7/25/2023 9:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostKey] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[CompanyKey] [int] NOT NULL,
	[ToTime] [datetime] NOT NULL,
	[SalaryType] [varchar](100) NOT NULL,
	[Salary] [int] NULL,
	[SalaryFrom] [int] NULL,
	[SalaryTo] [int] NULL,
	[WorkType] [varchar](50) NOT NULL,
	[Sex] [varchar](50) NOT NULL,
	[Candidates] [int] NOT NULL,
	[Level] [varchar](255) NOT NULL,
	[ExperienceType] [text] NULL,
	[Experience] [int] NULL,
	[ExperienceFrom] [int] NULL,
	[ExperienceTo] [int] NULL,
	[Description] [text] NOT NULL,
	[RequiredCandicate] [text] NOT NULL,
	[Benefits] [text] NOT NULL,
	[JobField] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountKey], [FirstName], [LastName], [Email], [Password], [Role], [CompanyKey]) VALUES (1, N'Dat', N'Lai', N'admin@gmail.com', N'BA3253876AED6BC22D4A6FF53D8406C6AD864195ED144AB5C87621B6C233B548BAEAE6956DF346EC8C17F5EA10F35EE3CBC514797ED7DDD3145464E2A0BAB413', N'USER', NULL)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyKey], [Name], [Description], [ImageUrl], [LogoUrl], [Location], [WorkField]) VALUES (1, N'Ziggo', N'Cong ty trach nhiem huu han', N'job-list1.png', N'job-list1.png', N'Ha Noi', N'IT')
INSERT [dbo].[Companies] ([CompanyKey], [Name], [Description], [ImageUrl], [LogoUrl], [Location], [WorkField]) VALUES (2, N'Elise', N'Cong ty trach nhiem huu han 2', N'job-list2.png', N'job-list2.png', N'Ho Chi Minh City', N'IT')
INSERT [dbo].[Companies] ([CompanyKey], [Name], [Description], [ImageUrl], [LogoUrl], [Location], [WorkField]) VALUES (1002, N'Rostelecom', N'This is description', N'job-list3.png', N'job-list3.png', N'Da Nang', N'IT')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Companies] ([CompanyKey])
GO
ALTER TABLE [dbo].[AppliedAndCared]  WITH CHECK ADD FOREIGN KEY([AccountKey])
REFERENCES [dbo].[Accounts] ([AccountKey])
GO
ALTER TABLE [dbo].[AppliedAndCared]  WITH CHECK ADD FOREIGN KEY([PostKey])
REFERENCES [dbo].[Posts] ([PostKey])
GO
ALTER TABLE [dbo].[AppliedUsers]  WITH CHECK ADD FOREIGN KEY([AccountKey])
REFERENCES [dbo].[Accounts] ([AccountKey])
GO
ALTER TABLE [dbo].[AppliedUsers]  WITH CHECK ADD FOREIGN KEY([CvFileKey])
REFERENCES [dbo].[CVFiles] ([CVFileKey])
GO
ALTER TABLE [dbo].[AppliedUsers]  WITH CHECK ADD FOREIGN KEY([PostKey])
REFERENCES [dbo].[Posts] ([PostKey])
GO
ALTER TABLE [dbo].[CVFiles]  WITH CHECK ADD FOREIGN KEY([AccountKey])
REFERENCES [dbo].[Accounts] ([AccountKey])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Companies] ([CompanyKey])
GO
USE [master]
GO
